.header{
    width: 100%;
    height: 160px;
    background-color: hotpink;
}
.logo{
    width: 150px;
    height: 140px;
    background-color:brown;
    margin:10px;
    float: left;
    
}
.header-text{
    width: 200px;
    float:left;
    height: 140px;
    margin: 10px;
    background-color: aqua;

}
.footer{
    height: 100px;
    width: 100%;
    background-color: cyan;
}


.mainContainer{
    min-height: 660px;
    width: 97%;
    
 
    overflow-y: hidden;
   
    
}



.myForm{
    background-color: chartreuse;
    padding: 10px 50px 10px  50px;
    width: 100%;
    width: 400px;;
   
    border-radius: 10px;
}


input[type=email]{
    width: 100%;
    height: 100%;
    font-size:20px;
}

input[type=text]{
    width: 100%;
    height: 100%;
    font-size:20px;
}

input[type=password]{
    width: 100%;
    height: 100%;
    font-size:20px;

}
input[type=file]{
    width: 100%;
    height: 100%;
    font-size:20px;

}


input[type=reset]{
    font-size:20px;
    width: 120px;
    height: 100%;
}

button{
    font-size:20px;
    width: 120px;
    height: 100%;
    border-radius: 7px;
    float:right;
}
input[type=radio]{
    
    width: 20px;
    height: 20px;
}

input[type=submit]{
    float:right;
    font-size:20px;
    width: 120px;
    height: 100%;
   
}
td{
    font-size:20px;
    height: 35px;;
}
input{
    border-radius: 7px;
}

.image-card{
    border: 1px solid red;
    border-radius: 5px;;
    width: 220px;
    height:250px;
    float:left;
    margin: 10px;

}

.dashboard-container{
 
    height: auto;
    width: 90%;
    background-color: aqua;;
  
    
}

.main-container{
    width: 100%;
    
    float: right;
}

.btn-group{
    
    height: 35;
    width:100%;
    float: left;
}
.btn{
    height: 30px;
    width: 67px;
    font-size: 11px;
    margin:3px;

}

.image-instance{
    height: 185px;
    width: 90%;
    border: 1px solid blue;
    border-radius: 5px;;
    margin: 10px;
}

.image-instance>img{
    height: 97%;
    width: 95%;
}